@import "util"

header
  +header

main
  +main

main
  img
    width: 100%
    height: 100%

.island
  +island

footer
  +footer

.res
  @font-face
    font-family: noto-bold
    src: url('https://onomatopee.github.io/ryosai.projectbox/fonts/NotoSansJP-Regular.ttf') format('truetype')
  width: 450px
  height: 700px
  background-color: white
  padding: 50px
  font:
    family: "noto-bold", sans-serif
    weight: 600
    style: normal
  img
    width: 350px
    height: 350px
  .head_left
    display: inline-block
    width: 45%
  .head_right
    display: inline-block
    width: 45%
  #timePutter
    left: 5%
  #placePutter
    right: 5%