@import "util"

header
  +header

main
  +main

main
  img
    width: 80%
    height: 80%

.head_left
  display: inline-block
  width: 45%

.head_right
  display: inline-block
  width: 45%

#timePutter
  left: 5%

#placePutter
  right: 5%

.island
  +island

footer
  +footer